html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:  'Playfair Display', serif;
    color: gainsboro;
    font-size: 14px;
    line-height: 21px;
}

/* img{
    display: block;
    max-width: 100%;
    height: auto;
} */

.container{
    width: 901px;
    margin: 0 auto;
    background-color: white;
    margin-top: 75px;
}

.page-header{
    background-color: white ;
}

.site-navigation{
    display: inline-block;
    font-size: 14px;
    list-style: none;
    margin-left: 180px;
    padding: 0;
    
}

.site-navigation li {
    display: inline-block; /* в строку*/
    margin-right: 120px;
    color: #a1a1a1;
}

.site-navigation li:last-child{
    margin-right: 0;
}
.site-navigation a{
    text-transform:  uppercase ;
}
.site-navigation a:hover,
.site-navigation a:focus{
    color: #68cbf8;
}

main{
    margin-top: 90px;
}
.features-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list-item{
display: inline-block;
width: 420px;
margin-right: 60px;
margin-bottom: 140px;
}
 .features-list-item:nth-child(2n){
    margin-right: 0;
} 

.features-list-position {
    display: block;
    margin: 0 auto;
    max-width: 904px;
    } 

.features-list-item h2{
    color: #626262;
    line-height: 17px;
    font-size: 30px;
}

.features-list-item p{
    color: #626262;
    font-size: 14px;
} 

.features-list-item:nth-child(n+5){
    margin-bottom: 55px;
}

/* .features-list-position{
    margin-left: 290px;
} */

.button {
    margin: 0 auto;
    width: 167px;
    height: 60px;
    text-align: center;
    display: block;
    }
