.footer .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  border-top: 1px solid #e5e5e5;
  background-color: none;
  width: 90%;
  margin: 0 auto;
}
