.header__bg {
  position: relative;
  background: linear-gradient(
      360deg,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 1000px;
  width: 100%;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: linear-gradient(
        360deg,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
      ),
      url(./images/background@2x.jpg);
    
  }
}
