.service__list {
  display: flex;
  flex-wrap: wrap;
  @include flex-space('between');
  @include center-flex('hor');
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  margin: 0 auto;

  @media (min-width: 1600px) {
    width: 72%;
  }

  @media (min-width: 2110px) {
    width: 57%;
  }
}
