* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: block;
  margin: 0 auto;
}

/* header */

.page-header {
  background-color: white;
  height: 90px;
}

.site-navigation {

  width: 1110px;
  margin: 0 auto;
}

.site-navigation-1 {
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto";
  float: left;
  background-color: white;
  color: #555252;
  text-transform: uppercase;
}
.site-navigation-1::first-letter {
  color: #1abc9c;
}
.site-navigation-2 {
  margin-top: 2%;
  left: 100px;
  display: block;
  font-size: 14px;
  list-style: none;
  float: right;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.site-navigation-2 li {
  display: inline-block; /* в строку*/
  margin-right: 27px;
  color: #0f0101;
  
}

.site-navigation-2 li:last-child {
  margin-right: 0;
}
.site-navigation-2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.site-navigation-2 a:hover,
.site-navigation-2 a:focus {
  color: #1abc9c;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  display: block;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.bgfoto {
  
  height: 600px;
  background-image: url(../img/bgfoto.jpg);

}

.section-1 .bgfoto:hover{
  background-color: rgb( 0, 0, 2 );
  opacity: 0.522;
}

.slider-ctrl-next::before {
  content: "\203A";
  font-size: 90px;
  display: inline-block;
  color: #fff;
}

.slider .slider-ctrl-next:hover{
background-color: #1abc9c;
cursor: pointer;
}
.slider-ctrl-previosly::before {
  content: "\2039";
  font-size: 90px;
  display: inline-block;
  color: #fff;
}
.slider .slider-ctrl-previosly:hover{
  background-color: #1abc9c;
  cursor: pointer;
  }

.slider {
  position: relative;
  width: 1110px;
  height: 600px;
  margin: 0 auto;
}

.slider-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  display: inline-block;
  width: 104px;
  height: 104px;
  background-color: #55a190;
}

.slider-ctrl-previosly {
  left: 20px;
}
.slider-ctrl-next {
  right: -30px;
}

.slider .bgfoto-content{
  font-family: 'Myriad Pro', sans-serif;
  position: absolute;
  left: 207px;
  top: 45%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 58px;
  color: #fff;
}
.slider .bgfoto-content-1{
  font-family: 'Myriad Pro', sans-serif;
  position: absolute;
  left: 207px;
  top: 50%;
  display: inline-block;
  font-size: 23px;
  color: #fff;
}


.section-2 {
  
  margin: 0 auto;
  background-color: #e9f0fd;
}

.h2heder {
  padding-top: 100px;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  font-size: 48px;
  margin-bottom: 33px;
}

hr {
  width: 164px;
  border: none;
  background-color: #1abc9c;
  height: 7px;
  margin: 30px auto 80px;
}

.site-menu {
  max-width: 1125px;
  margin: 0 auto;
  background-color: #e9f0fd;
}

.item1,
.item2,
.item3,
.item4 {
  position: relative;
  display: inline-block;
  width: 255px;
  height: 322px;
  margin-left: 15px;
  margin-right: 15px;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img {
  height: 280px;
  width: 255px;
}
.item1-1,
.item2-1,
.item3-1,
.item4-1 {
  position: absolute;
  bottom: 0;
  width: 255px;
  height: 44px;
  background-color: rgb(50, 50, 50);
  font-size: 18px;
  padding: 12px;
  text-transform: uppercase;
  text-align: left;
  color: white;
  margin-top: -4px;
}

.item1-2,
.item2-2,
.item3-2,
.item4-2 {
  position: absolute;
  top: 4px;
  right: 0;
  width: 43px;
  height: 44px;
  background-color: rgb(140, 140, 140);
  font-size: 18px;
  padding-top: 13px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: -4px;
}

.item1:hover .item1-1,
.item1:hover .item1-2,
.item2:hover .item2-1,
.item2:hover .item2-2,
.item3:hover .item3-1,
.item3:hover .item3-2,
.item4:hover .item4-1,
.item4:hover .item4-2 {
  background-color: #1abc9c;
}

.item4:last-child {
  margin-right: 0;
}
.item1:first-child {
  margin-left: 0;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 235px;
  height: 260px;
  background-color: #737373;
  opacity: 0;
}

.item1:hover .overlay,
.item2:hover .overlay,
.item3:hover .overlay,
.item4:hover .overlay {
  opacity: 0.9;
}

.overlay .icon1 {
  position: absolute;
  left: 35px;
  top: 78px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: none;
  border: 1px solid #fff;
}
.overlay .icon2 {
  position: absolute;
  top: 78px;
  left: 95px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: none;
  border: 1px solid #fff;
}
.overlay .icon3 {
  position: absolute;
  top: 78px;
  left: 155px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: none;
  border: 1px solid #fff;
}

.overlay .icon4 {
  position: absolute;
  top: 135px;
  left: 35px;
  display: inline-block;
  width: 170px;
  height: 50px;
  text-align: left;
  padding-left: 10px;
  font-size: 40px;
  background-color: rgba(50, 50, 50, 1);
  border: 1px solid #fff;
}

.overlay .icon4-1 {
  position: absolute;
  top: 18px;
  left: 65px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.overlay .icon1:hover,
.overlay .icon2:hover,
.overlay .icon3:hover,
.overlay .icon4:hover {
  background-color: #1abc9c;
  cursor: pointer;
}

.footer {
  margin-top: 99px;
  padding-top: 38px;
 
  height: 87px;
  margin: 0 auto;
  text-align: center;
  background-color: #323232;
  color: white;
  font-size: 16px;
}

.footer a {
  color: #46bfa9;
  text-decoration: none;
}
