img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  min-height: 1000px;
  margin-bottom: 3.28em;
}

.header__bg {
  position: relative;
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.8)),
      to(rgba(243, 129, 129, 0.8))
    ),
    url(../img/background.jpg);
  background: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url(../img/background.jpg);
  background: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url(../img/background.jpg);
  background: linear-gradient(
      360deg,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 1000px;
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50px;
}

.header__logo {
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  color: #fff !important;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.header__navigation--item {
  position: relative;
  display: block;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 14px;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
}

.header__navigation--item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35%;
  width: 100%;
  height: 3px;
  background: #fce38a;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.header__navigation--item:hover {
  color: #fce38a !important;
}
.header__navigation--item:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.shopping_cart svg:hover {
  cursor: pointer;
  fill: #fce38a;
}

.header__navigation--item svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 18px;
  fill: #fff;
}

.header__navigation--item svg:hover {
  fill: #fce38a;
  cursor: pointer;
}

.header__h1 {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.header__h2 {
  font-family: "KaushanScript-Regular";
  font-style: normal;
  font-weight: 100;
  margin-top: 2.48em;
  text-align: center;
  font-size: 72px;
  color: #fff;
}

.header__button {
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  display: block;
  margin: 0 auto;
  margin-top: 2.7em;
  text-transform: uppercase;
  font-size: 14px;
  border: 3px solid #fff;
  width: 160px;
  height: 40px;
  background: none;
  color: #fff;
}

.Rectangle_12 {
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 875px;
  top: 725px;
  width: 164px;
  height: 44px;
  z-index: 19;
}

/* Main */

h2 {
  font-family: "KaushanScript-Regular";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 21px;
}

.service__h3 {
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.service__h3::after {
  content: "";
  position: absolute;
  left: 47.5%;
  bottom: -42px;
  width: 60px;
  height: 5px;
  background: #f38181;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.service {
  margin-top: 67px;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: none;
}

.service__list--item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
  height: 145px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 15px;
  color: #999999;
  background-color: none;
  cursor: pointer;
}

.service__list--item h4 {
  position: absolute;
  top: 40px;
  left: 92px;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
}

.service__list--item p {
  position: absolute;
  left: 92px;
  top: 65px;
  font-size: 14px;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  color: #b3b3b3;
}

.service__svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 40px;
}

.service__p {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  margin-top: 95px;
  color: #b3b3b3;
  font-size: 15px;
  text-align: center;
}

/* Card menu */
.card{
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  background-image: none;
  -webkit-transition: background-image 2s;
  -o-transition: background-image 2s;
  transition: background-image 2s;
}

.card__image {
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgb(252, 227, 138)),
    to(rgb(243, 129, 129))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: -o-linear-gradient(
    left,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
}

.card__image:hover img {
  opacity: 0.3;
}

.card__item .card__image {
  position: relative;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.card__item .card__image:hover {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 15px 15px rgba(149, 225, 211, 1);
          box-shadow: 10px 15px 15px rgba(149, 225, 211, 1);
}

.card__socials {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  width: 56px;
  border-right: 0.5pt solid rgb(246, 161, 161);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  opacity: 0;
  -webkit-transition: opacity 0.5s, background-color 0.5s;
  -o-transition: opacity 0.5s, background-color 0.5s;
  transition: opacity 0.5s, background-color 0.5s;
}

.card__socials a:hover {
  background: #f38181;
  cursor: pointer;
}
.card__socials svg {
  display: inline-block;
  height: 32px;
  width: 32px;
  fill: #f38181;
}

.card__socials a:hover svg {
  fill: #fff;
}

.card__image:hover a {
  opacity: 1;
}

.card__name{
  font-family: "Montserrat-Regular";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin-top: 30px;
}

.card__position {
  font-family: "Roboto-LightItalic";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #9f9f9f;
}

/* footer */
.footer {
  margin-top: 80px;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 65px;
  min-width: 100%;
  border-top: 1px solid #e5e5e5;
  background-color: none;
}

.footer__about{
  color: #333333;
  font-family: "Montserrat-Regular";
  font-weight: 700;
  font-style: normal;
}
.footer__about a {
  text-decoration: none;
  color: hsl(0, 83%, 80%);
}

.footer__subscribe input {
  font-family: "Roboto-LightItalic";
  font-style: italic;
  font-weight: 300;
  width: 230px;
  height: 40px;
  border: 0.5px solid #e7e7e7;
}

.footer__subscribe button {
  background-color: #95e1d3;
  border: none;
  width: 150px;
  height: 40px;
  margin-left: -4px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background: url(../img/background@2x.jpg) no-repeat center top;
    min-height: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}