* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body {
  transform: all 0.5s;
}
.page-header {
  width: 100%;
  margin: 0 auto;
  background: url(../img/bgmobile.jpg) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 540px;
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  min-height: 210px;
}

.authorization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 75px;
}

.site-nav-item {
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  background: none;
  border-radius: 22px;
  padding: 8px 18px;
  outline: none;
}

.site-nav-item:hover {
  border: 2px solid #fff;
  cursor: pointer;
  outline: none;
}

.site-logo {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.name {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 1.125em;
}

.headp {
  font-family: "Roboto-Light";
  font-weight: 400;
  font-style: normal;
  max-width: 220px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

.find-partner {
  height: 40px;
  width: 280px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: white;
  border: none;
  background: #ff4e50;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}


.h2partners {
  max-width: 260px;
  margin: 0 auto;
  padding-top: 4.375em;
  font-size: 22px;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.menu-partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-partners-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 235px;
  margin-top: 0.875em;
  margin-bottom: 0.43em;
}

.h4-menu {
  margin-top: 1.25em;
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.p-menu {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  color: rgb(102, 102, 102);
  margin-top: 1.18em;
}

.border-img-1 {
  position: relative;
  min-height: 122px;
  min-width: 122px;
  border-radius: 50%;
  background: url("../img/1menu.jpg") rgb(251, 251, 251);
}

.icon-1 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background-image: url(../img/logo1.png);
}

.border-img-2 {
  position: relative;
  height: 122px;
  width: 122px;
  border-radius: 50%;
  background: url("../img/2menu.jpg") rgb(251, 251, 251);
}

.icon-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background-image: url(../img/logo2.png);
}

.border-img-3 {
  position: relative;
  height: 122px;
  width: 122px;
  border-radius: 50%;
  background: url("../img/3menu.jpg") rgb(251, 251, 251);
}

.icon-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background-image: url(../img/logo3.png);
}

.border-img-4 {
  position: relative;
  height: 122px;
  width: 122px;
  border-radius: 50%;
  background: url("../img/4menu.jpg") rgb(251, 251, 251);
}

.icon-4 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background-image: url(../img/logo4.png);
}

.other-partners {
  display: block;
  margin: 1.4em auto 3.43em;
  height: 40px;
  width: 280px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  background: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
}

@media (min-width: 321px) and (max-width: 768px) {
  .page-header {
    background: url(../img/bgtablet.jpg) no-repeat center;
    height: 700px;
  }
}

@media (min-width: 430px) and (max-width: 768px) {
  .site-nav {
    width: 87.63%;
    flex-direction: row-reverse;
    max-height: 20px;
  }
  .authorization {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 35px;
  }
  .site-logo {
    width: 100%;
    margin-top: 40px;
    text-align: left;

  }

  .menu-partners {
    width: 64.06%;
    margin: 0 auto;
    flex-flow: wrap row;
    justify-content: center;
    align-items: flex-start;
  }

  .element-one {
    order: -2;
  }

  .element-thre {
    order: -1;
  }
}

@media (min-width: 560px) and (max-width: 768px) {

  .name {
    font-size: 52px;
    margin-top: 0;

  }

  .headp {
    min-width: 395px;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .find-partner {
    height: 40px;
    width: 225px;
  }

  .h2partners {
    min-width: 420px;
  }

  .menu-partners {
    width: 84%;
  }

  .menu-partners-item {
    margin-top: 1.938em;
  }
}

@media (min-width: 769px) {
  .page-header {
    background: url(../img/bgdesctop.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
  }

  .site-nav {
    width: 65.48%;
    flex-direction: row-reverse;
    max-height: 20px;
  }

  .authorization {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 35px;
  }

  .site-logo {
    width: 100%;
    margin-top: 40px;
    text-align: left;
  }

  .name {
    font-size: 52px;
    margin-top: 0;
  }

  .headp {
    min-width: 395px;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .find-partner {
    height: 40px;
    width: 225px;
  }
  .h2partners {
    min-width: 420px;
  }
  .menu-partners {
    width: 65.4%;
    margin: 0 auto;
    flex-flow: wrap row;
    justify-content: center;
    align-items: flex-start;
  }
  .menu-partners-item {
    margin-top: 1.93em;
  }

  .element-one {
    order: -2;
  }

  .element-thre {
    order: -1;
  }
}

@media (min-width: 1024px) {
  .menu-partners {
    width: 100%;
  }
}

@media (min-width: 1223px) {
  .menu-partners {
    width: 80%;
  }
}

@media (min-width: 1529px){
  .menu-partners {
    width: 62%;
  }
}

@media (min-width: 1970px){
  .menu-partners {
    width: 48%;
  }
}

@media (min-width: 2549px){
  .menu-partners {
    width: 46%;
  }
}

