$main-font-montserrat: 'Montserrat-Regular';
$secondary-font-montserrat: 'Montserrat-Bold';

$main-font-roboto: 'Roboto-Light';
$secondary-font-roboto: 'Roboto-LightItalic';

$main-font-kaushan: 'KaushanScript-Regular';


$primary-white-color: #ffffff;
$secondary-yellow-color: #fce38a;

$card-text-color: #9f9f9f;
$card-name-color: #333333;

$main-coral-color:#f38181;

$main-svg-color: #95e1d3;

